{% load staticfiles  %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static "world/libs/ol/v3.3.0/ol.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "world/libs/ol/v3.3.0/ol.css" %}" type="text/css">
  {% block styles %}{% endblock %}
  <title>{% block title %}OpenLayers 3 example{% endblock %}</title>
</head>
<body>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <script src="{% static "world/libs/ol/v3.3.0/ol-debug.js" %}" type="text/javascript"></script>
  <script src="{% static "world/libs/httpinvoke/httpinvoke-browser.js" %}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
